/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GENERAL STYLES STARTS HERE */

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

/* Adjust the size of the logo */
.logo-style img {
    max-width: 300px; /* Adjust the width as needed */
    max-height: 300px; /* Adjust the height as needed */
}

/* ----- Search container ----- */
.search-container {
    position: relative;
}

/* ----- Search button ----- */
.search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px; /* Adjust the padding to fine-tune the icon's position */
}

.search-button i {
    font-size: 1.2rem; /* Adjust the size of the icon as needed */
    color: #B7C36F; /* Adjust the color of the icon */
    padding: 10px;
}

.form-control {
    padding-right: 40px; /* Adjust the padding to create space for the icon */
    border: 2px solid #B7C36F;
}


/* ----- Dropdown button ----- */
.dropdown .btn-secondary {
    background-color: #B7C36f; /* Change the background color */
    color: #fff; /* Change the text color */
    border: none;
}

/* Style the dropdown button when hovered */
.dropdown .btn-secondary:hover {
    background-color: #ffb703; /* Change the background color on hover */
}

/* Style the dropdown button when it's active (clicked) */
.dropdown .btn-secondary:focus {
    background-color: #B7C36F; /* Change the background color on focus */
}

/* Style the dropdown items (links) */
.dropdown .dropdown-menu a {
    color: #333; /* Change the text color of the items */
}

/* Style the dropdown items on hover */
.dropdown .dropdown-menu a:hover {
    background-color: #f8f9fa; /* Change the background color on hover */
}

/* ----- Cards ----- */
.card {
    height: 100%; /* Set a fixed height for all cards */
    border: none;  /* Add a border to the cards */
    border-radius: 50px; /* Set the border radius to 50px */
    transition: transform 0.2s; /* Add a smooth hover effect */
}

.card:hover {
    transform: scale(1.05); /* Add a slight scale-up effect on hover */
}

/* Style the card image to fill the available space and maintain aspect ratio */
.card-img .image {
    object-fit: fill; /* Maintain aspect ratio and fill the entire container */
    height: 200px; /* Adjust the desired height */
    width: 100%; /* Take up the full width of the container */
    margin-top: 10px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Add padding between the image and card body */
.card-body {
    padding-top: 10px; /* Adjust the desired padding value */
    text-align: center; /* Center the text within the card */
    margin-bottom: 10px;
}


/* Style the card title and card text */
.card .card-title,
.card .card-text {
    text-align: center;
}

.card-text {
    font-size: 25px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
}

/* ----- Cards color ----- */
.card-color {
    background-color: #C4E3D4;
    border-radius: 50px;
}

.card-title {
    background-color: #D9EFE4; /* Add your desired background color */
    border-radius: 10px; /* Add your desired border radius */
    padding: 5px; /* Add some padding for spacing */
    margin-bottom: 1em;
    display: inline-block; /* Make the background color and border radius wrap the text */
}


/* ----- Load more button ----- */
.btn-load {
    background-color: #B7C36F; /* Change the background color */
    color: #fff; /* Change the text color */
    border: none;
    border-radius: 5px; /* Add rounded corners */
    padding: 10px 20px; /* Adjust the padding to your liking */
    font-size: 16px; /* Adjust the font size */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Hover effect */
.btn-load:hover {
    background-color: #ffb703; /* Change the background color on hover */
    border-color: #ffb703;
    }

/* ----- Footer ----- */
/* Style the footer background color */
footer {
    background-color: #a8dadc; /* Change to your desired background color */
    color: #fff; /* Text color for the footer */
    padding: 20px 0; /* Add space at the top and bottom of the footer */
    margin-top: 40px;
    line-height: 1.5;
}

/* ----- STYLE THE MODAL ----- */

/* ----- Code Number ----- */
.code-number {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 25px;
}

/* ----- Pokemon Name ----- */
.pokemon-name {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 25px;
}

/* Style the modal background */
.modal {
    /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent black background */
    background: url('images/grass-filed.jpeg') center center no-repeat;
    background-size: cover; 
}


/* Style the modal content */
.modal-content {
    background-color: #f2cfd9; 
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    padding: 20px; 
}

/* Add image background to modal content */
/* .modal-content {
    background: url('images/grass-filed.jpeg') center center no-repeat;
    background-size: cover; 
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
} */


/* Make the circle responsive and center the image */
.background-circle {
    background-color: #D9EFE4;
    width: 80%; /* Adjust the desired percentage width for responsiveness */
    border-radius: 50%; /* Make it circular */
    position: relative; /* Add relative positioning */
    margin: 0 auto; /* Center the circle horizontally */
    /* overflow: hidden; Hide content that overflows the circle */
}

.background-circle .pokemon-img {
    max-width: 100%; /* Adjust the maximum width to make the image bigger */
    max-height: 100%; /* Adjust the maximum height to make the image bigger */
}

.background-circle .image {
    width: 100%; /* Ensure the image takes up the full width of the circle */
    height: 100%; /* Ensure the image takes up the full height of the circle */
}

/* Style the close button */
.close-button {
    color: #fff; /* Set the color of the close button text */
    background-color: #333; /* Set the background color of the close button */
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

/* Style the close button on hover */
.close-button:hover {
    background-color: #555; /* Change the background color on hover */
}

/* ----- Base stat ----- */
.pokemon-stat {
    margin-top: 50px;
}

.base-stat-title h3 {
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.button-caught {
    padding: 20px;
}




